$icons: fontawesome;

#page:target {
   background: 
    -webkit-linear-gradient(left, rgba(0,0,0,1),  transparent 1px),
    -webkit-linear-gradient(left, rgba(0,0,0,.5), transparent 1px),
    -webkit-linear-gradient(left, rgba(0,0,0,.5), transparent 1px),
    -webkit-linear-gradient(left, rgba(0,0,0,.1), transparent 1px),
    -webkit-linear-gradient(left, rgba(0,0,0,.1), transparent 1px),
    -webkit-linear-gradient(top,  rgba(0,0,0,.1), transparent 1px);
  background-size: $unit, $unit, $unit, $unit, $unit, $ratio;
  background-position: 0 0, $ratio/2 0, -$ratio/2 0, $ratio 0, -$ratio 0; }

@media screen and (min-width:720px) { 

.toggle {
  display: block !important;
  position: fixed;
  bottom: 0;
  right: 0; }

.toggle a {
  color: transparent;
  width: 2*$ratio;
  height: 2*$ratio;
  &:before {
      font-family: $icons;
      content: "\f04c";
      color: #000;
      display: block;
      text-align: center;
      line-height: 1*$ratio;
      font-size: 2em; } }

:target .on, .off  { display: none; }
:target .off, .on  { display: block; } }
