/* Helpers
----------------------------------------------------------------------------- */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; }
* { @include box-sizing(border-box); }

::selection, ::-moz-selection { 
  text-shadow: none;
  background: $black;
  color: $white;  }

@import "fonts/fontawesome";

.hidden { 
  position: absolute;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.skin {
  display: block;
  @include box(); }

.group {
  float: left;
  width: 100%; }

.clearfix {
  zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table; }
  &:after {
    clear: both; }
}

.left {
  float: left;
  margin: 0 $ratio $ratio 0; }
.right { 
  float: right; 
  margin: 0 0 $ratio $ratio; }


