/* LAYOUT
----------------------------------------------------------------------------- */

.row {
  position: relative;
  @media (max-width: 720px)  { max-width: 100%; }  
  @media (min-width: 720px)  { @include col(12); }  
  @media (min-width: 960px)  { @include shift(4); } }

/* Header
----------------------------------------------------------------------------- */

#header {
  @extend .clearfix;
}

/* Main
----------------------------------------------------------------------------- */

#main {
  @extend .clearfix; }

#content {
    @extend .group;
    @include box();
    @media (min-width: 720px) { @include col(8); }
    article {
      @include box();
      .nav-sub { 
        margin-top: -$ratio !important;
        ul {
          margin: 0 0 0 0;
        }
        li {
          margin: 0;

          @media (min-width: 960px) { text-align: right; }
          a { 
            float: right;
            display: inline;
            @include box(); }
          li { margin: 0 !important; 
            a { 
              font-weight: normal; } } }
        @media (min-width: 720px) {
          float: right;
          width: 4*$unit - $ratio;
          margin-top: 0;
          margin-right: -4*$unit; } 
        @media (min-width: 960px) {
          float: left;
          margin-left: -4*$unit;
          a { text-align: right; } } } } }

#aside {
    @include box();
    @extend .group;
    @include col(4);
    @media (max-width: 720px) { 
      width: 100%; } }

/* Full-width
----------------------------------------------------------------------------- */

body.fullwidth #main #content{
 width: 100%; }

/* Sub
----------------------------------------------------------------------------- */

#sub {
  background: lighten($color-secondary, 20%);
  color: $white;
  @extend .clearfix }

#sub .col { 
  padding: $ratio/2;
  @include col(4);
  @media (max-width: 720px) { 
    width: 100%; } }

/* Footer
----------------------------------------------------------------------------- */

#footer {
  background: $color-secondary;
  color: $white;
  @extend .clearfix;
  a { 
    color:$color-primary; }
  .row {
    padding: $ratio; } }

.nav-footer {
  li {
    float: left;
    display: block;
    margin-right: 2px;
    &:after { content: " / "; }
    a:before { content:""; } } }

