@import "setup";
@import "fonts/cubano";
@import "fonts/opensans";
@import "fonts/sourcesans";

// Font Stacks

$sans:             OpenSans, arial, helvetica, sans-serif;
$serif:            Georgia, serif;
$display:          cubano, helvetica, arial, helvetica, sans-serif;
$caption:          OpenSans,Verdana, sans-serif;
$mono:             "Menlo", "Bitstream Vera Sans", Monaco, "Andale Mono", "Lucida Console", "Droid Mono", monospace;
$icons:            fontawesome;

$copy:             $sans;
$code:             $mono;

// Font Weights

$light:            400;
$normal:           400;
$bold:             700;

/* Font Stacks
----------------------------------------------------------------------------- */

body, select, input, textarea, button, 
.m, .s, .xs, .xxs                            { font-family: $copy !important; }
h1,h2,h3, .nav-main li > a, .nav-meta li a   { font-family: $display; }
.siteinfo, small, .caption, figcaption       { font-family: $caption; }
pre, code, kbd, samp                         { font-family: $code; }



.cta .widget {
	font-family: $display;
	@include rotate(-5deg);
	@include transition();
	&:hover {
		@include rotate(0);
		@include transition(); }
	a {
		@include transition();
		text-shadow: 2px 2px 0 #fff, 3px 3px 0 #000;
		&:hover {
			@include transition();
			text-shadow: 1px 1px 0 #fff, 2px 2px 0 #000;
		}
	}
}


.banner {
	hgroup a  {
		border: 0 solid;

	}

}

.banner .tagline {
	font-family: $copy;
}