
@import "setup";
@import "reset";
@import "elements";
@import "helpers";
@import "layout";
@import "modules";
@import "print";
//@import "diagnostics";
@import "grid";




.logo-small {
	width: $ratio*4;
	height: $ratio*4;
}

#footer .logo-small {
	position: absolute;
	top: -.5*$ratio;
	right: $ratio;
}


