@import "setup";
@import "fonts";

#main {
	background: $color-primary;
}

#content {
	background: #fff;
	margin-top: -$ratio/2;
	margin-bottom: 2*$ratio;
}

.nav-sub  a {
	background: #fff;
}

.date {
	background: #fff;
}


#anchors {
	background: $orange;
}

/*
.logo, .nav-main a, .nav-meta a, .bigtext, h1, h2, h3, h4, h5, #footer, #sub{
	-webkit-mask-image: url(../../images/mask.png); } */

//backgrounds
/*
body {
	background: darken($color-secondary, 5%);
} */


/*
#header, #main {
	background: $white;
}

a, .bigtext {
	font-weight: bold;
}








.toggle {
	display: none !important;
}


.cta span {
	text-transform: uppercase;
}

.cta {
  font-weight: bold;
}


::-moz-selection { 
	color:invert($color-selection);
	background: $color-selection; }
::selection { 
	color:invert($color-selection);
	background: $color-selection; }

a {
	color: $black;
}



#sub {
	background: $color-secondary;
	color: #fff;
	a {
		color: #fff;
	}
}

#footer {
	background: darken($color-secondary, 10%);
	color: $white;
	a {
		color: #fff;
	}
}



#anchors {
	background: #eee;
	float: right;
	margin: -$ratio/2 0 $ratio/2 $ratio/2;
	@include box();
	max-width: 4*$unit;
	a {
		display: block;
		&:hover {
			cursor: pointer;
	}
}
}*/