// VARIABLES
// =========

// Colours

$black:            #000;
$white:            #fff;
$orange:           #ff8800;
$purple:           #4d004d;
$color-primary:    $orange;
$color-secondary:  $purple;
$color-link:       darken($purple, 0%);
$color-selection:  #000;
$muted:            #6F6F6F;


::-moz-selection { 
	color:invert($color-selection);
	background: $color-selection; }
::selection { 
	color:invert($color-selection);
	background: $color-selection; }


body {
	background: $orange;
}

#content {
	background: $white;
	
}


.nav-main {
	li {
		a {
			background: $white;
		}
		.sub-menu {
			background: $white;
		}
	}
}